body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(212, 208, 208);
}
.color{
    border: 2px solid black;
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
}
.red{background-color: #e63b3b;}
.blue{background-color: #3636f7;}
.green{background-color: #054d05;}
.black{background-color: #292828;}
.white{background-color: #ffffff;}

.deck{
    width: 100px;
    height: 300px;
    border: 1px solid black;
    margin: 20px;
}