@font-face {
    font-family: "Eczar";
    src: url('./Eczar/Eczar-Regular.ttf');
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    min-height: 100vh;
    background: url('./imgs/mana-and-logo.png');
    background-repeat: no-repeat;
    background-size: 800px 100% ;
    background-position: center;
    background-attachment: fixed;
    background-color: rgba(7, 7, 7, 0.377);
    background-blend-mode: multiply;
    color: rgb(231, 225, 225);
    font-family: "Eczar";
    text-align: center;
}
button, input{
    font-family:"Eczar" ;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.color{
    border: .5px solid rgb(216, 210, 210);
    border-radius: 9999px;
    width: 20px;
    height: 20px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 0 3px;
}
.red{background-color: #e63b3b;}
.blue{background-color: #3636f7;}
.green{background-color: #054d05;}
.black{background-color: #292828;}
.white{background-color: #ffffff;}
.good{color: green;}
.bad{color: red;}

.deck-holder{
    margin: 15px 0;
}
.deck{
    width: 170px;
    height: 300px;
    border: .5px solid rgb(219, 214, 214);
    background-color: rgb(54, 53, 53);
    color: rgb(231, 225, 225);
    border-radius: 4%;
    box-shadow: 0 0 15px rgb(231, 225, 225);
}

.icon-container{
    display: flex;
    justify-content: space-between;
    padding: 5px;
}
.icon{
    fill:rgb(231, 225, 225)
}

@media(min-width: 810px){
    .container{
        background-size: 100% 100% ;
    }
}